body {
    background: rgb(90, 30, 30);
}

@font-face {
    font-family: minecraft;
    src: url(../26-fonts/Minecraft.ttf);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li {
    margin: 10px;
}

ul a {
    list-style: none;
    font-family: minecraft;
    border: 2px solid yellow;
    padding: 20px;
    background: url(./ironman.png), linear-gradient(to bottom, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
    transition: 2s;
    box-shadow: 3px 3px 3px black;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

ul a:hover {
    background-position: -60px center;
}

div {
    width: 300px;
    height: 300px;
    background-color: white;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    margin: 40px;
    color: rgb(90, 30, 30);
}

div:hover {
    width: 600px;
}

.all {
    width: 300px;
    height: 300px;
    background: rgb(90, 30, 30);
    font-size: 12px;
    transition: width 1s, height 1s, background 3s, font-size 2s;
    float: right;
    border: 1px solid white;
    margin-top: -400px;
}

.all:hover {
    width: 800px;
    height: 800px;
    background: white;
    font-size: 500px
}