.barra {
    width: 400px;
    height: 30px;
    border: 3px solid black;
}

.contenido {
    background: green;
    animation: move 1s forwards 200;
    height: 30px;
}
/* animation-name:move;
animation-duration:2s;
animation-timing-function:ease-in;
animation-iteration-count:2;
infinite para infinitas repeticiones */

@keyframes move {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}


.barra_wrapper {
    width: 400px;
    height: 30px;
    border: 3px solid black;
}

.rojo {
    background: red;
    animation: move2 1s forwards;
    height: 30px;
}

.barrita {
    background: url(https://pablomonteserin.com/res/html5/ex/animations/keyframes/barrita-corazones/corazon-mask.png);
    height: 30px;
    width: 400px;
    background-size: auto 100%;
}

@keyframes move2 {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}