.social li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.social .animation a {
    list-style: none;
    display: inline-block;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 500px;
    height: 500px;


}

.social .animation a img {
    transition: 2s;
}

.social .animation a:hover img {
    transform: scale(1.5, 1.5);
}