body {
    background-image: url(./bg.gif);
}

.container {
    width: 965px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

.logo {
    position: relative;
}

.slider {
    background: url(./imatge_slider1.jpg);
    width: 965px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    display: inline-block;
    float: left;
    display: block;

}

.menu li a {
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    position: relative;
    width: 50px;
    color: black;
    display: flex;

}

.menu li a:hover {
    background-color: red;
}

.inici {
    background-color: red;
}

.title {
    text-align: center;
}

.info {
    width: 900px;
    display: flex;
    margin: auto;
}

.inferior {
    width: 265px;
    margin: auto;
    text-align: justify;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

h4 {
    margin-left: 50px;
}